{% extends 'base/base.html' %}
{% block title %}修改密码{% endblock %}
{% block link %}
    <link rel="stylesheet" href="../../static/css/users/auth.css">
    <link rel="stylesheet" href="../../static/css/users/change_pwd.css">


{% endblock %}
{% block main %}
    <!-- container start -->
    <main id="container">
        <div class="register-contain">
            <div class="top-contain">
                <h4 class="please-register">修改密码</h4>

            </div>
            <form action="" method="post" class="form-contain">
                <div class="form-item">
                    <input type="tel" placeholder="请输入手机号" id="mobile" name="telephone" class="form-control"
                           autocomplete="off" autofocus>
                </div>
                <div class="form-item">
                    <input type="text" placeholder="请输入短信验证码" name="sms_captcha" class="form-captcha" id="input_smscode"
                           autocomplete="off">
                    <a href="javascript:void(0);" class="sms-captcha" title="发送验证码">获取短信验证码</a>
                </div>
                <!-- 按钮触发模态框 -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"
                        id="modal_btn">确定
                </button>
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-item">
                                    <input type="password" placeholder="请输入原始密码" id="old_pwd" name="old_password"
                                           class="form-control"
                                           autocomplete="off" autofocus>
                                </div>
                                <div class="form-item">
                                    <input type="password" placeholder="请输入新密码" id="pwd" name="password"
                                           class="form-control">
                                </div>
                                <div class="form-item">
                                    <input type="password" placeholder="请再次输入新密码" name="password_repeat"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">关闭
                                </button>
                                <div class="form-item">
                                    <input type="submit" value="确定" class="btn btn-primary submit-btn">
                                </div>

                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

            </form>
        </div>
    </main>
    <!-- container end -->


{% endblock %}

{% block script %}
    <script src="{% static 'js/users/change_pwd.js' %}"></script>
{% endblock %}